#plain (default) plain
#solarized-dark solarized-dark
#solarized-light solarized-light
#slick slick
#modern modern
#bad-wolf bad-wolf
#gruvbox-light gruvbox-light
#gruvbox-dark gruvbox-dark
#space-villain space-villain
#native (like plain with no background and native separators) native
#semi-native (like native but with background) //TODO add an image
#nord-dark (polar night) nord-dark
#dracula

[theme]
theme = "solarized-light"
[theme.overrides]
idle_bg = "#cccccc"
idle_fg = "#000000"
[icons]
icons = "awesome4"
[icons.overrides]
music = "ï†¼"
time = ""

#[[block]]
#block = "focused_window"
#max_width = 10
#show_marks = "visible"

[[block]]
block = "music"
# max_width = 0
#marquee = true
player = "spotify"
#buttons = ["play", "next"]
#[[block.click]]
#format = "$play $next $prev" ################### controls
[block.theme_overrides]
idle_bg = "#cccccc"
idle_fg = "#111111"
info_bg = "#eeeeee"
info_fg = "#111111"

[[block]]
block = "sound"

[[block]]
block = "backlight"
device = "intel_backlight"

[[block]]
block = "cpu"
interval = 1
#format = "{utilization}"
format = "$icon$utilization @$frequency"

 [[block]]
 block = "external_ip"
 format = "{ip} {country_code}"

#[[block]]
#block = "xrandr"
#format = "$icon $resolution"

[[block]]
block = "temperature"
interval = 1
#format = "{max}|{average}"
format = "$icon $max/$average"
format_alt = " $icon "
[block.theme_overrides]
info_bg = "#eeeeee"
info_fg = "#111111"

[[block]]
block = "load"
interval = 1
format = "$icon$1m"
[block.theme_overrides]
idle_bg = "#cccccc"
idle_fg = "#111111"

[[block]]
block = "memory"
format = "$icon$mem_used/$mem_total"
# format = "$icon$mem_used/$mem_avail"

# County code
[[block]]
block = "custom"
command = """curl -s http://ip-api.com/json |  grep -o '"countryCode": *"[^"]*"' | grep -o '"[^"]*"$' | tr -d '"'"""
interval = 40
[block.theme_overrides]
idle_bg = "#5e81ac"
idle_fg = "#eeeeee"

# Windscribe Data Usage
[[block]]
block = "custom"
command = """windscribe account | sed -n '3p' | grep -o -P '(?<=: ).*(?= /)'"""
interval = 40
[block.theme_overrides]
idle_bg = "#709acf"
idle_fg = "#eeeeee"

[[block]]
block = "disk_space"
path = "/"
info_type = "free"
interval = 5
alert = 60.0
format = "$icon $available"
[block.theme_overrides]
idle_bg = "#5e81ac"
idle_fg = "#111111"

[[block]]
block = "net"
format = "$icon"
[[block.click]]
button = "left"
cmd = "nm-connection-editor"
[block.theme_overrides]
good_bg = "#cccccc"
good_fg = "#111111"

[[block]]
block = "net"
device = "wlp2s0"
format = "$speed_down(down) /$speed_up(up)" ############### icons
interval = 5
#
[[block]]
block = "battery"
if_command = "test -e /sys/class/power_supply/BAT0"
format = " $icon $percentage $time $power "
[block.theme_overrides]
good_bg = "#cccccc"
good_fg = "#111111"

[[block]]
block = "weather"
format = "$icon $temp $weather"
# format = "$icon $weather ($location) $temp, $wind m/s $direction"
service = { name = "openweathermap", api_key = "17e96788a74ed298f5b9706c6e6509e6", city_id = "2530335", units = "metric" }

[[block]]
block = "kdeconnect"
format = "$icon $bat_charge "

#[[block]]
#block = "uptime"

[[block]]
block = "time"
interval = 5
#format = "$icon"
[block.theme_overrides]
idle_bg = "#eeeeee"

##[[block]]
##block = "custom"
##interval = 999999
##command = "echo '\uF011'"
##on_click = "i3-nagbar -t warning -m 'What do you want to do?' -b 'Shutdown' 'shutdown now' -b 'Hibernate' 'systemctl hibernate' -b 'Reboot' 'reboot'"
