#plain (default) plain
#solarized-dark solarized-dark
#solarized-light solarized-light
#slick slick
#modern modern
#bad-wolf bad-wolf
#gruvbox-light gruvbox-light
#gruvbox-dark gruvbox-dark
#space-villain space-villain
#native (like plain with no background and native separators) native
#semi-native (like native but with background) //TODO add an image
#nord-dark (polar night) nord-dark
#dracula

[theme]
name = "nord-dark"
[theme.overrides]
idle_bg = "#000000"
idle_fg = "#dddddd"
[icons]
name = "awesome"
[icons.overrides]
music = ""

#[[block]]
#block = "focused_window"
#max_width = 10
#show_marks = "visible"

[[block]]
block = "music"
max_width = 0
#marquee = true
player = "spotify"
buttons = ["play", "next"]
#format = "ddf"
[block.theme_overrides]
info_bg = "#cccccc"
info_fg = "#111111"
idle_bg = "#eeeeee"
idle_fg = "#111111"

[[block]]
block = "sound"

[[block]]
block = "backlight"
device = "intel_backlight"

[[block]]
block = "cpu"
interval = 1
#format = "{utilization}"
format = "{utilization} @{frequency}"

# [[block]]
# block = "external_ip"
# format = "{ip} {country_code}"


# [[block]]
# block = "xrandr"
# icons = true
# resolution = true

[[block]]
block = "temperature"
collapsed = false
interval = 1
#format = "{max}|{average}"
format = "{max}"
[block.theme_overrides]
info_bg = "#eeeeee"
info_fg = "#111111"

[[block]]
block = "load"
interval = 1
format = "{1m}"
[block.theme_overrides]
idle_bg = "#cccccc"
idle_fg = "#111111"

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{mem_avail}"
format_swap = "{mem_used}"

[[block]]
block = "networkmanager"
interface_name_exclude = ["br\\-[0-9a-f]{12}", "docker\\d+"]
interface_name_include = []
device_format = "{icon}{ap}"
[block.theme_overrides]
good_bg = "#cccccc"
good_fg = "#111111"

# County code
[[block]]
block = "custom"
command = """curl -s http://ip-api.com/json |  grep -o '"countryCode": *"[^"]*"' | grep -o '"[^"]*"$' | tr -d '"'"""
interval = 40
[block.theme_overrides]
idle_bg = "#5e81ac"
idle_fg = "#111111"

# Windscribe Data Usage
[[block]]
block = "custom"
command = """windscribe account | sed -n '3p' | grep -o -P '(?<=: ).*(?= /)'"""
interval = 40
[block.theme_overrides]
idle_bg = "#5e81ac"
idle_fg = "#111111"

[[block]]
block = "disk_space"
path = "/"
alias = "/"
info_type = "used"
unit = "GB"
interval = 5
alert = 60.0
format = "{icon} {available}"
[block.theme_overrides]
idle_bg = "#5e81ac"
idle_fg = "#111111"

#[[block]]
#block = "net"
#device = "wlp2s0"
#format = "{speed_down;K*b} {speed_up;K*b}"
#interval = 5

[[block]]
block = "battery"
if_command = "test -e /sys/class/power_supply/BAT0"
format = " {percentage} {time} {power}"
[block.theme_overrides]
good_bg = "#cccccc"
good_fg = "#111111"

[[block]]
block = "weather"
format = "{temp}"
# format = "{weather} ({location}) {temp}, {wind} m/s {direction}"
service = { name = "openweathermap", api_key = "17e96788a74ed298f5b9706c6e6509e6", city_id = "2530335", units = "metric" }

[[block]]
block = "kdeconnect"
format = "{bat_icon}  {bat_charge}"
format_disconnected = ""

[[block]]
block = "time"
interval = 5
format = "%I:%M  %d/%m"
#[block.color_overrides]
#idle_fg = "#aaffaa"

#[[block]]
#block = "uptime"

#[[block]]
#block = "custom"
#interval = 999999
#command = "echo '\uF011'"
#on_click = "i3-nagbar -t warning -m 'What do you want to do?' -b 'Shutdown' 'shutdown now' -b 'Hibernate' 'systemctl hibernate' -b 'Reboot' 'reboot'"
